#######
# Auth
#######

# Used for VERIFICATION TOKEN when new users register.
OZS.JWT.SECRET=xxx

# The amount of time IN SECONDS when a VERIFICATION TOKEN will expire.
OZS.VERIFICATION.EXPIRES.IN.SECS=3600

# The amount of time IN SECONDS when a SESSION TOKEN will expire for a user.
OZS.SESSION.TOKEN.EXPIRES.IN.SECS=80000

# The allowed domain to SET the SESSION TOKEN on a SECURE Cookie.
OZS.SESSION.COOKIE.DOMAIN=localhost

###########
# Database
# All DB options
###########
QUARKUS.DATASOURCE.USERNAME=xxx
QUARKUS.DATASOURCE.PASSWORD=xxx
QUARKUS.DATASOURCE.JDBC.URL=jdbc:postgresql://10.0.0.13:5432/mrl-dev

########
# Email
########

# The API Key for our email provider.
EMAIL.PROVIDER.API.KEY=xxx