# This is the set of values that are secret and should be loaded from the host system as ENV vars.

# Database
quarkus_datasource_username=USERNAME
quarkus_datasource_password=PASSWORD
quarkus_datasource_jdbc_url=jdbc:postgresql://10.0.0.1:5432/thezoo

# Redis
quarkus_redis_hosts=redis://localhost/

# APP KEY
ozs_app_key=xyz

# EMAIL
ozs_email_provider_key=xyz